$color-primary:#FFFED9;
$color-secondary: #FFCDC4;
$color-tertiary: #362110;
$color-quaternary:#F87325;
$color-quinary: #577448;
$color-senary: #FFFBEA;
$color-septenary: #9E434A;
$color-text-primary: #362120;
$color-text-secondary: #FFFED9;
$color-text-tertiary: #577448;