@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@400&display=swap');
$font-primary: "Poppins", sans-serif;
$font-secondary: "Indie Flower", cursive;

$font-size-primary: 28px;
$font-size-secondary: 24px;
$font-size-h3: 20px;
$font-size-tertiary: 16px;
$font-size-quaternary: 15px;
$font-size-quinary: 14px;
$font-size-senary: 12px;