@use "./color" as c;
@use "./font" as f;

//pink sektion
@mixin section-pink {
    background-color: c.$color-secondary;
    padding: 20px 16px;
}

@mixin divider {
    height: 1px;
    background-color: c.$color-text-primary;
    width: 100%;
}


//grønne knapper
@mixin button {
    background: c.$color-quinary;
    color: c.$color-text-secondary;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    cursor: pointer;
    align-self: center;
    font-size: f.$font-size-tertiary;
    font-family: f.$font-primary;
}


@mixin square-top-right {
  position: absolute;
  width: 110px;
  height: 110px;
  background-color: c.$color-quaternary;

  top: -7px;
  right: -7px;

  z-index: 1;
}

@mixin square-bottom-left {
  position: absolute;
  width: 110px;
  height: 110px;
  background-color: c.$color-quaternary;

  bottom: -7px;
  left: -7px;

  z-index: 1;
}