@use '_color.scss' as c;

*{
    margin: 0%;
}

//Header
.header{
  background-color: c.$color-primary;
  height: 64px;
  position: sticky;
  top: 0;
  z-index: 9999;

  &__button {
    position: fixed;
    top: 20px;
    right: 20px;
    
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__burger-line {
    height: 3px;
    width: 100%;
    background: c.$color-text;
    transition: all 0.3s ease;
  }

  &__burger-line.open:nth-child(1) {
    transform: translateY(9.5px) rotate(45deg);
  }

  &__burger-line.open:nth-child(2) {
    opacity: 0;
  }

  &__burger-line.open:nth-child(3) {
    transform: translateY(-9.5px) rotate(-45deg);
  }

  &__overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
  }

  &__side-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background: c.$color-primary;
    box-shadow: -2px 0 10px rgba(0,0,0,0.2);
  
    transform: translateX(100%);
    transition: transform 0.3s ease;
  
    z-index: 1001;
    padding: 80px 20px;
  }

  &__side-menu.open {
    transform: translateX(0);
  }

  &__side-menu ul {
    list-style: none;
    padding: 0;
  }

  &__side-menu li {
    margin-bottom: 20px;
  }

  a{
    color: c.$color-text;
    text-decoration: none;
  }
}


// Contact info
.contact{
    display: flex;
    flex-direction: column;
    padding: 16px;
    text-align: center;

    &__title{
        font-size: 20px;
        margin-bottom: 10px;
    }

    &__description{
        font-size: 16px;
        max-width: 600px;
        margin: 0 auto 20 px auto;
        line-height: 1.5;
        text-align: left;
    }

    &__divider{
        height: 1px;
        background-color: c.$color-text-secondary;
        width: 100%;
        margin: 16px 0;
    }

    &__row{
        display: flex;
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;
    }

    &__item{
        display: flex;
    }

    &__text{
        font-size: 16px;
        margin: 0;
    }

    @media (min-width: 768px){
        padding: 20px 40px;
    }

}

// Contact form

.form-section{
    padding: 20px;

    &__form{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__input, &__textarea{
        padding: 12px;
        border: 1px solid c.$color-text-secondary;
        border-radius: 6px;
        background: #eae6cf;
        font-size: 16px;
    }
    
    &__textarea{
        min-height: 120px;
    }

    &__field{
        display: flex;
        flex-direction: column;
        gap: 6px;
    } 

    &__row{
        display:flex;
        flex-direction: row;
        gap: 12px;

        .form-section__field{
            flex: 1;
            min-width: 0;
        }

        @media(min-width: 768px){
            flex-direction: row;

            .form-section__field{
                flex: 1;
            }
        }
    }
 
    &__error{
        color: red;
        margin: 0;
    }

    &__button{
        background: #577448;
        color: c.$color-text;
        border: none;
        padding: 12px;
        border-radius: 6px;
        cursor: pointer;
        width: 140px;
        align-self: center;
        font-size: 12px;
    }
}

// Contact time

.hours-section{
    background-color: c.$color-secondary;
    width: 100%;
    padding: 20px 16px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    &__container{
        width: 100%;
        max-width: 500px;
        text-align: center;
    }

    &__title{
        font-size: 20px;
        margin: 10px 0;
    }

    &__divider{
        height: 1px;
        background-color: c.$color-text-secondary;
        width: 100%;
    }

    &__text {
        margin: 15px 0;
        &-item{
            margin: 6px 0;
            font-size: 16px;
        }
    }
}

// Contact map
.map-section {
    text-align: center;
    padding: 20px;

    &__title{
        margin-bottom: 16px;
    }
  
    &__wrapper {
        background: #F87325;
        padding: 12px;
        box-sizing: border-box;
    }
  
    &__map {
        height: 200px;
        width: 100%;
        border-radius: 4px;
  
      @media (min-width: 768px) {
        width: 400px;
        height: 250px;
      }
    }
  
    &__address {
        margin-top: 12px;
        font-size: 16px;
    }
}

// Footer 
.footer{
    background-color: c.$color-primary;
    color: c.$color-text;
    padding: 60px 20px;
}

.footer-inner {
    max-width: 1100px;
    margin: 0 auto;
}

.footer-title {
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
}

.footer-grid {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 40px;
}

.footer-section {
    margin-bottom: 30px;
    h3 {
        font-size: 15px;
        margin-bottom: 5px;
    }
    p {
        font-size: 14px;
        margin: 5px 0;
    }
}

.footer-right{
    text-align: right;
}

@media (max-width: 768px) {
    .footer-grid {
        flex-direction: row;
    }
}